<div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Give what the people want!</p>
    <hr class="my-4">
    <p>The goal of this project is to provide users who are interested in keeping tabs on the stock market a simple and easy way to manage stocks.</p>
    <p>The future for this project will integrate the ability to make stock purchases from the site at reasonable fees.</p>
</div>